<ion-content>
  <div class="content-wrapper">
    <ion-item>
      <ion-label position="stacked">Client username</ion-label>
      <ion-input [(ngModel)]="clientUsername" placeholder=""></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="addClient()">Add Client</ion-button>

    <ion-list>
      <ion-list-header>
        <ion-label>Clients</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let c of clients" routerLink="/trainer-client/{{ c.clientUsername }}">
        <ion-label>{{ c.clientUsername }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
