<ion-header>
  <ion-toolbar>
    <ion-title>Exercise Settings</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" class="close-btn">
        <i class="fa-solid fa-arrow-left"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 class="ex-title-display">{{ exercise.name }}</h2>

  <ion-item>
    <ion-label position="stacked">Sets</ion-label>
    <ion-input inputmode="numeric" type="tel" pattern="[0-9]*" [(ngModel)]="item.sets"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Reps</ion-label>
    <ion-input inputmode="numeric" type="tel" pattern="[0-9]*" [(ngModel)]="item.reps"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Rest Between Sets</ion-label>
    <ion-input inputmode="numeric" type="tel" pattern="[0-9]*" [(ngModel)]="item.restBetweenSets"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Rest After Exercise</ion-label>
    <ion-input inputmode="numeric" type="tel" pattern="[0-9]*" [(ngModel)]="item.restAfterExercise"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Superset</ion-label>
    <ion-select [(ngModel)]="item.supersetExerciseId">
      <ion-select-option value="">None</ion-select-option>
      <ion-select-option *ngFor="let opt of allExercises" [value]="opt.id">
        {{ opt.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" color="success" (click)="save()">Save</ion-button>

</ion-content>