ion-content {
  --padding-top: 56px !important;
}

.chat-page {
  --background: radial-gradient(circle at top, #00111a 0%, #000 100%);
}
.chat-header {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  z-index: 20;
  background: rgba(0, 17, 26, 0.214);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 247, 255, 0.15);
}

.chat-scroll-area {
  padding: 0px 0;
  display: flex;
  justify-content: center;
}

.chat-container {
  width: 100%;
  max-width: 600px;

  padding: 0 12px;
  box-sizing: border-box;
}



.chat-list {
  padding: 10px 0;
}

.msg {
  display: flex;
  margin-bottom: 10px;
}

.msg.me {
  justify-content: flex-end;
}

.bubble {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 14px;
  background: rgba(58, 0, 116, 0.85);
  color: #fff;
  backdrop-filter: blur(6px);
}

.msg.me .bubble {
  background: #00f7ff;
  color: #000;
}

.back-btn {
  --color: #00f7ff;
  font-size: 20px;
  margin-right: 10px;
}
.chat-username {
  font-size: 18px;
  font-weight: 600;
  color: #00f7ff;
  letter-spacing: 0.5px;
}

.input-row {
  display: flex;
  padding: 8px;
  background: #08004200;
  border-top: 2px solid rgba(0, 247, 255, 0.25);
}

ion-input {
  flex: 1;
  margin-right: 8px;
  background: #08004200;
  color: #fff;
  border-radius: 10px;
  padding-left: 8px;
}

ion-button {
  border-radius: 12px;
}