.chat-page {
  --background: radial-gradient(circle at top, #00111a 0%, #000 100%);
}

.chat-container {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 12px;

  border-left: 2px solid rgba(0, 247, 255, 0.4);
  border-right: 2px solid rgba(0, 247, 255, 0.4);

  box-shadow:
    inset 0 0 18px rgba(0, 247, 255, 0.15),
    inset 0 0 28px rgba(88, 0, 170, 0.15);

  border-radius: 4px;
}


.chat-list {
  padding: 10px 0;
}

.msg {
  display: flex;
  margin-bottom: 10px;
}

.msg.me {
  justify-content: flex-end;
}

.bubble {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 14px;
  background: rgba(58, 0, 116, 0.85);
  color: #fff;
  backdrop-filter: blur(6px);
}

.msg.me .bubble {
  background: #00f7ff;
  color: #000;
}

.back-btn {
  position: fixed;
  top: 12px;
  left: 20px;
  z-index: 20;
  --color: #00f7ff;
  --padding-start: 6px;
  --padding-end: 6px;
  font-size: 34px;
}

.input-row {
  display: flex;
  padding: 8px;
  background: #000;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

ion-input {
  flex: 1;
  margin-right: 8px;
  --background: #111;
  color: #fff;
  border-radius: 10px;
  padding-left: 8px;
}

ion-button {
  border-radius: 12px;
}