<ion-content [fullscreen]="true">

  <div *ngIf="isUploading" class="upload-fallback">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Uploading... Please wait</p>
  </div>
  <h2>Add New Workout</h2>

  <ion-button expand="block" (click)="goToCreateWorkout()">
    Create Workout
  </ion-button>

  <hr />

  <h2>Add New Exercise</h2>
  <form [formGroup]="exerciseForm">
    <ion-item>
      <ion-label position="stacked">Exercise Name</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Description</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sets 1-10</ion-label>
      <ion-input type="number" inputmode="numeric" pattern="[0-9]*" min="1" max="10"
        (ionInput)="sanitizeNumberInput($event)" formControlName="sets"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Repetitions 1-100</ion-label>
      <ion-input type="number" inputmode="numeric" pattern="[0-9]*" min="1" max="100"
        (ionInput)="sanitizeNumberInput($event)" formControlName="reps"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rest Between Sets (10-300 seconds)</ion-label>
      <ion-input type="number" inputmode="numeric" pattern="[0-9]*" min="10" max="300"
        (ionInput)="sanitizeNumberInput($event)" formControlName="restBetweenSets"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Rest After Exercise (30-600 seconds)</ion-label>
      <ion-input type="number" inputmode="numeric" pattern="[0-9]*" min="30" max="600"
        (ionInput)="sanitizeNumberInput($event)" formControlName="restAfterExercise"></ion-input>
    </ion-item>


    <div class="video-upload">
      <label for="videoInput">Choose Video File</label>
      <input id="videoInput" type="file" accept="video/*" (change)="onVideoSelected($event)" />
    </div>

    <ion-button expand="block" color="tertiary" (click)="saveExercise()">
      Add Exercise
    </ion-button>
  </form>

</ion-content>