<ion-content [fullscreen]="true">

  <form [formGroup]="workoutForm" (ngSubmit)="saveWorkout()">

    <ion-item>
      <ion-label position="floating">Naziv treninga</ion-label>
      <ion-input formControlName="title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Opis treninga</ion-label>
      <ion-input formControlName="content"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Kategorija</ion-label>
      <ion-input formControlName="subtitle"></ion-input>
    </ion-item>

    <ion-list>
      <ion-list-header>
        <ion-label>Vežbe</ion-label>
      </ion-list-header>

      <div formArrayName="exercises">
        <div *ngFor="let ex of exercises.controls; let i = index" [formGroupName]="i">

          <ion-item>
            <ion-label>Izaberi vežbu</ion-label>
            <ion-select formControlName="exerciseId" interface="popover">
              <ion-select-option *ngFor="let e of allExercises" [value]="e.id">
                {{ e.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button color="danger" expand="block" (click)="removeExercise(i)">
             Ukloni
          </ion-button>

        </div>
      </div>

      <ion-button expand="block" (click)="addExercise()">
         Dodaj vežbu
      </ion-button>
    </ion-list>


    <ion-button expand="block" color="success" (click)="saveWorkout()">
      Sačuvaj Trening
    </ion-button>

  </form>

  <hr />

  <h2>Dodaj novu vežbu</h2>
  <form [formGroup]="exerciseForm" (ngSubmit)="saveExercise()">
    <ion-item>
      <ion-label position="floating">Naziv vežbe</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Opis</ion-label>
      <ion-input formControlName="description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Serije</ion-label>
      <ion-input type="number" formControlName="sets"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ponavljanja</ion-label>
      <ion-input formControlName="reps"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Odmor između serija (sekunde)</ion-label>
      <ion-input type="number" formControlName="restBetweenSets"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Odmor posle vežbe (sekunde)</ion-label>
      <ion-input type="number" formControlName="restAfterExercise"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Video fajl</ion-label>
      <input type="file" accept="video/*" (change)="onVideoSelected($event)" />
    </ion-item>

    <ion-button expand="block" color="tertiary" type="submit">
      ➕ Dodaj u backend
    </ion-button>
  </form>

</ion-content>