<ion-content [fullscreen]="true" class="ion-padding">

  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>

  <ion-card *ngFor="let workout of workouts">
    <ion-card-header>
      <div class="title-container">
        <ion-card-title class="title-size">{{ workout.title }}</ion-card-title>
        <ion-card-subtitle class="subtitle-size">{{ workout.subtitle }}</ion-card-subtitle>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="content-container">
        {{ workout.content }}
      </div>

      <div class="start-button-holder">
        <ion-button size="small" fill="succsess" color="medium" [routerLink]="['/tab-trainings']"
          [state]="{ workoutId: workout.id }">
          Preview
        </ion-button>

        <ion-button size="small" color="primary" [routerLink]="['/workout', workout.id]">
          Start
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <p *ngIf="!loading && workouts.length === 0" class="empty-text">
  </p>

</ion-content>