<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <i class="fa-solid fa-arrow-left-long"></i>
      </ion-button>
    </ion-buttons>

    <ion-title>Select Exercises</ion-title>

    <ion-buttons slot="end">
      <ion-button color="success" (click)="saveSelection()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding neon-scroll">

  <ion-searchbar (ionInput)="onSearch($event)" placeholder="Search..."></ion-searchbar>

  <ion-list class="neon-list">
    <ion-item *ngFor="let ex of filteredExercises">
      <ion-label>{{ ex.name }}</ion-label>
      <ion-checkbox slot="end" [checked]="selectedIds.includes(ex.id!)"
        (ionChange)="toggleSelect(ex.id!)"></ion-checkbox>
    </ion-item>
  </ion-list>

</ion-content>