.page {
  --background: radial-gradient(circle at top, #00111a 0%, #000000 100%);
  font-family: 'Orbitron', sans-serif;
  color: #e0ffff;
  text-align: center;
}

/* Centriranje */
.content-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 60px);
}

.card-wrapper {
  width: 100%;
  max-width: 500px;
}

/* Progress bar */
.neon-progress {
  margin: 0 0 8px 0;
  height: 3px;
  --progress-background: rgba(0, 255, 255, 0.25);
  --progress-bar-background: linear-gradient(90deg, #00f7ff, #00ffaa);
  border-radius: 10px;
}

/* CARD */
.exercise-card {
  width: 100%;
  min-height: 75vh;
  border-radius: 18px;
  background: rgba(0, 40, 60, 0);
  border: 1px solid rgba(0, 255, 255, 0.25);
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.25);
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  backdrop-filter: blur(14px) saturate(140%);
}

/* Video container */
.video-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-video {
  width: 100%;
  max-height: 35vh;
  object-fit: contain;
  background: #00000000;

}

/* Text */
.exercise-name {
  font-size: 20px;
  color: #00f7ff;
  text-shadow: 0 0 8px rgba(0, 255, 255, 0.5);
  margin-bottom: 6px;
}

.exercise-desc {
  font-size: 14px;
  color: #aefcff;
  opacity: 0.9;
  margin-bottom: 10px;
}

/* Navigation buttons */
.nav-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  ion-button {
    width: 48%;
    --border-radius: 12px;
    --color: #00f7ff;
    --border-color: #00f7ff;
  }
}

/* Counter */
.counter-box {
  margin-top: 10px;
  font-size: 14px;
  color: #00f7ff;
}

/* Back button */
.back-btn {
  position: fixed;
  top: 12px;
  left: 12px;
  z-index: 999;
  --color: #00f7ff;
  font-size: 24px;
}