<ion-content [fullscreen]="true" class="page" *ngIf="workout && currentExercise">

  <ion-button class="back-btn" fill="clear" (click)="goBack()">
    <i class="fa-regular fa-circle-left"></i>
  </ion-button>

  <div class="workout-header">
    <h2>{{ workout.title }}</h2>
  </div>

  <div class="exercise-card">

    <div class="counter-box">
      Exercise {{ currentIndex + 1 }} / {{ workout.exercises.length }}
    </div>
    <h3>Exercise {{ currentIndex + 1 }}</h3>

    <div class="video-container">
      <video *ngIf="currentExercise?.videoUrl" [src]="currentExercise.videoUrl" autoplay loop muted playsinline
        class="exercise-video" controls>
      </video>

      <div *ngIf="!currentExercise?.videoUrl" class="video-placeholder">
        <p>No video available.</p>
      </div>
    </div>

    <h2>{{ currentExercise?.name }}</h2>
    <p>{{ currentExercise?.description || 'No description available.' }}</p>

  </div>

  <div class="nav-buttons">
    <ion-button fill="outline" (click)="prevExercise()" [disabled]="currentIndex === 0">
      Previous
    </ion-button>

    <ion-button fill="outline" (click)="nextExercise()"
      [disabled]="!workout || currentIndex === workout.exercises.length - 1">
      Next
    </ion-button>
  </div>

</ion-content>