<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="Search exercises..." (ionInput)="onSearchChange($event)" [value]="searchTerm">
  </ion-searchbar>

  <!-- COLLAPSIBLE HEADER -->
  <div class="collapse-header" (click)="toggleList()">
    <span>Exercises</span>
    <span class="arrow" [class.open]="expanded">▼</span>
  </div>

  <!-- COLLAPSIBLE CONTENT -->
  <div class="collapse-content" [class.open]="expanded">

    <ion-item *ngFor="let ex of filteredExercises" class="fade-item">
      <div class="checkbox-box" (click)="toggleSelect(ex.id!)">
        <span *ngIf="isSelected(ex.id!)">{{ getOrder(ex.id!) }}</span>
      </div>

      <ion-label>
        <h3>{{ ex.name }}</h3>
        <p *ngIf="ex.description">{{ ex.description }}</p>
      </ion-label>
    </ion-item>

  </div>

  <div class="buttons-footer">
    <ion-button expand="block" color="medium" (click)="cancel()">
      Cancel
    </ion-button>

    <ion-button expand="block" color="success" (click)="confirmSelection()">
      Confirm ({{ selected.length }})
    </ion-button>
  </div>

</ion-content>